# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# OS-specific files
.DS_Store
Thumbs.db

# Debug tools
.vscode/
.idea/
*.swp

# Test files
tests/
coverage/
.nyc_output/

# Build artifacts
dist/
build/

# Temporary files
*.tmp
*.temp

# Miscellaneous
*.lock

# Certificates
*.pem
ca.pem
